.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.44em 14.4em 1.44em 14.4em;
  margin-bottom: 0.66em;
}

/* Text info */

.content {
  display: flex;
  width: 100%;
  background-color: #8793FF;
  border-radius: 20px;
}

.up-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.66em;
}

.logo {
  display: flex;
  width: fit-content;
  padding: 0.75em;
  background-color: #707EFF;
  border-radius: 20px;
}

.big {
  display: flex;
  height: fit-content;
  padding: 0.66em;
  background-color: #707EFF;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.big h1 {
  color: white;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #707EFF;
  padding: 1.875em;
  border-radius: 20px;
  margin: 1.25em 0.66em 1.25em 2.5em;
  width: 26%;
}

.photo img {
  border-radius: 10px;
  width: 100%;
}

.info-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.66em 0 0.66em 0;
  padding-left: 1em;
  padding-right: 1em;
}

.text {
  display: flex;
  width: 80%;
  flex-direction: column;
  border-radius: 20px;
  padding: 1.25em 2.5em 1.25em 2.5em;
  background-color: #707EFF;
  color: white;
  margin-bottom: 0.66em;
}

.text p {
  color: white;
}

.auth {
  display: flex;
  width: fit-content;
  flex-direction: column;
  border-radius: 10px;
  padding: 0.66em;
  background-color: #707EFF;
  color: white;
  margin-bottom: 0.66em;
}

@media (max-width: 2050px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .info-cont {
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .main {
    padding: 1.44em 6em 1.44em 6em;
  }
}

@media (max-width: 600px) {
  body,
  p {
    font-size: 0.65rem;
  }

  .main {
    padding: 1.44em 2em 1.44em 2em;
  }
}
