/* Days */

.daysS {
  grid-column: 2/13;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.44em 0.66em 1.44em 0.66em;
  background-color: #8793ff;
  border-radius: 20px;
  align-items: center;
  height: fit-content;
}

.t {
  margin-bottom: 1.44em;
}

.dayE {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 1em;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.44em;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.9em;
  background-color: #4551bd;
  border-radius: 10px;
}

.card-min {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
}

.dayE a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.66em;
}

.year {
  display: flex;
  background-color: #4551bd;
  padding: 0.66em;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-right: 0.66em;
}

.year p {
  font-size: 1.3em;
}

.text {
  margin-bottom: 0;
}

.act {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
