@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
a:focus {
  margin: 0;
  padding: 0;
  outline: none !important;
  color: #a3d7da;
  font-family: "Montserrat", serif;
  font-weight: bold;
}

body {
  background: #adb5ff;
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: #a3d7da;
}

@media (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    margin-left: 6em;
    margin-right: 6em;
  }

  .up-bar {
    flex-direction: column;
  }
  .up-bar .logo {
    display: none;
  }
}
